body {
    padding-top: 56px;
}
section {
    padding: 60px 0;
}
.celula_tabela_texto{
    font-size: 11px; 
    width: 290px;
}
.celula_tabela_objeto{
    text-align: center;
    width: 290px;
}
.celula_tabela{
    font-size: 11px; 
    width: 1300px;
}
.color1 {
    color: rgb(4, 0, 255);
    background-color: #cc6af9;
}
.color2 {
    color: #f3f3f3;
    background-color: #a66af9;
}
.color3{
    color: #ffc107f2;
    background-color: #a66af9;
}
.chart-container {
    width: 1500px;
    height: 500px;
}
.dropdown-menu .dropdown-menu {
    margin-left: 0;
    left: 100%;
    top: 0;
}
.main-content {
    margin-left: 200px;
    padding: 20px;
}